<a href="https://colab.research.google.com/github/yujiimt/NLP/blob/master/book/feature_engneering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
df = pd.DataFrame([['Cola', 'S'],
                  ['Cola', 'M'],
                  ['Green Tea', 'L'],
                  ['Milk', 'M'],],
                  columns = ['drink', 'size'])

In [7]:
df.head()

       drink size
0       Cola    S
1       Cola    M
2  Green Tea    L
3       Milk    M

In [8]:
# サイズを整数値に変更

size2int = {'S': 0, 'M': 1,  'L': 2}
df['size'] = df['size'].map(size2int)
df.head()

       drink  size
0       Cola     0
1       Cola     1
2  Green Tea     2
3       Milk     1

In [9]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
df['drinklabel'] = encoder.fit_transform(df['drink'])
df.head()

       drink  size  drinklabel
0       Cola     0           0
1       Cola     1           0
2  Green Tea     2           1
3       Milk     1           2

In [11]:
pd.get_dummies(df)

   size  drinklabel  drink_Cola  drink_Green Tea  drink_Milk
0     0           0           1                0           0
1     1           0           1                0           0
2     2           1           0                1           0
3     1           2           0                0           1

In [0]:
df = pd.DataFrame([
                   [7.2500,],
                   [71.1833,],
                   [7.9250,],
                   [53.1000,],],
                  columns = ['Fare',])

In [14]:
df['Fare']

0     7.2500
1    71.1833
2     7.9250
3    53.1000
Name: Fare, dtype: float64

In [15]:
(df['Fare'] > 10).astype(int)

0    0
1    1
2    0
3    1
Name: Fare, dtype: int64

In [17]:
df['FareInt'] = df['Fare'].round().astype(int)
df[["Fare", "FareInt"]].head()

      Fare  FareInt
0   7.2500        7
1  71.1833       71
2   7.9250        8
3  53.1000       53

In [0]:
Text: 'the cat is out of the bag'
Vocabulary: {'the': 0, 'cat': 1, 'is': 2, 'out' :3, 'of': 4, 'bag': 5}

In [0]:
# one hot 

from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(binary = True)
docs = ['the cat is out of the bag', 'dog are']
bow = vectorizer.fit_transform(docs)

In [21]:
# toarry メソッドを使って初めて呼びだすことができる

bow.toarray()

array([[0, 1, 1, 0, 1, 1, 1, 1],
       [1, 0, 0, 1, 0, 0, 0, 0]])

In [22]:
# 単語の関係を確認
vectorizer.vocabulary_

{'are': 0, 'bag': 1, 'cat': 2, 'dog': 3, 'is': 4, 'of': 5, 'out': 6, 'the': 7}

In [23]:
# count vectorizer 

vectorizer = CountVectorizer(binary=False)
docs = ['the cat is out of the bag', 'dogs are']
bow = vectorizer.fit_transform(docs)
bow.toarray()

array([[0, 1, 1, 0, 1, 1, 1, 2],
       [1, 0, 0, 1, 0, 0, 0, 0]])

In [0]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
docs = ['the cat is out of the bag', 'the dogs are']
tfidf = vectorizer.fit_transform(docs)

In [25]:
vocab = vectorizer.get_feature_names()
pd.DataFrame(tfidf.toarray(), columns = vocab).round(2)

    are   bag   cat  dogs    is    of   out   the
0  0.00  0.38  0.38  0.00  0.38  0.38  0.38  0.54
1  0.63  0.00  0.00  0.63  0.00  0.00  0.00  0.45

In [26]:
!pip install janome

Collecting janome
  Downloading https://files.pythonhosted.org/packages/79/f0/bd7f90806132d7d9d642d418bdc3e870cfdff5947254ea3cab27480983a7/Janome-0.3.10-py2.py3-none-any.whl (21.5MB)
     |████████████████████████████████| 21.5MB 9.4MB/s
Installing collected packages: janome
Successfully installed janome-0.3.10

In [0]:
from janome.tokenizer import Tokenizer
t = Tokenizer(wakati = True)

In [0]:
vectorizer = CountVectorizer(tokenizer = t.tokenize)
docs = ['猫の子子猫', '獅子の子子獅子']
bow = vectorizer.fit_transform(docs)

In [29]:
vocab = vectorizer.get_feature_names()
pd.DataFrame(bow.toarray(), columns = vocab)

   の  子  子猫  猫  獅子
0  1  1   1  1   0
1  1  2   0  0   2